* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}


.content {
    display: flex ;
    flex-direction: column;
    margin-left: 30px;
}

.content label{
    margin: 10px;
}

input {
    height: 25px;
    width: 160px;
}

.card {
    display: grid;
    height: 400px;
    width: 400px;
    background: red;
}
.cardContent {
    height: 100vh;
    justify-self: center;
}