*{  
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, Fira Code;
}

.loginBox{     
    display: grid;
    align-items: center;
    background: linear-gradient(#ffafcc, #cdb4db) no-repeat;
    min-height: 100%;
}

.login{
    display: grid;
    justify-self: center;
}

input{
    text-align: center;
    margin-top: 10px;
    background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 30px;
}
.send{
    margin-top: 5px;
    border: solid 1px white;
    position: relative;
    left: 60px;
}

.container{
    display: grid;
    justify-content: center;
}

.image{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(./japan-4k-qbc6mlnwowjbszld.jpg) no-repeat center/cover;
    filter: blur(5px);
    
}

.content{
    display: grid;
    top: 25%;
    text-align: center;
    justify-content: center;
    height: 500px;
    width: 635px;
    position: relative;
    border: solid 3px purple;
    border-radius: 20px;
    background: lightpink;
    overflow: none;
    font-size: 25px;
    padding: 20px;
        
}


.content button{
    display: grid;
    justify-content: center;
    padding: 30px;
    
}

.btns{
    display: inline-block;
    position:  relative;
    text-align: center;
    top: 280%;
}

button{
    border: solid 2px lightpink;
    padding: 15px;
    border-radius: 10px;
    background-color: purple;
    color: lightpink;
    font-size: 15px;
}

button:hover{
    background-color: rgba(0, 0, 0, .5);
}


#right{
    float: right;
}

.hidden{
    display: none;
}

.footer{
    top: 120px;
    left: 50%;
    position: absolute;
    height: 60px;
    width: 80px;
    background-color: rebeccapurple;
    border: solid 1px white;
    border-radius: 10px;

}

.stats{
    color: white;
    position: relative;
    top: 20px;
}

.login{
    display: grid;
    justify-content: center;
}