*{  
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: grid;
    justify-content: center;

}

.image{
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(./japan-4k-qbc6mlnwowjbszld.jpg) no-repeat center/cover;
    filter: blur(5px);
    
}

.content{
    display: grid;
    position: relative;
    top: 25%;
    text-align: left;
    height: 500px;
    width: 500px;
    position: relative;
    border: solid 3px purple;
    border-radius: 20px;
    background: lightpink;
    overflow: none;
    font-size: 30px;
        
}



.btns{
    position:  relative;
    right: 5%;
    top: 450%;
}

button{
    border: solid 2px lightpink;
    padding: 5px;
    border-radius: 10px;
    background-color: purple;
    color: lightpink;
    font-size: 15px;
}

button:hover{
    background-color: rgba(0, 0, 0, .5);
}

