@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 45px;
    font-family: Montserrat;

}

.background {
    background: linear-gradient(to bottom right, #457b9d,#1d3557);
    background-size:auto;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    height: 100vh;
    place-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


.content input {
    height: 50px;
    width: 500px;
    text-align: center;
}

.content label {
    text-align: center;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.btns button{ 
    height: 120px;
    width: 240px;
    border-radius: 20px;

}

.btns button:hover {
    cursor: pointer;
    background: rgba(0,0,0,.5);
    color: white;
}

.btns button:active {
    cursor: pointer;
    background: #e63946
}

.stats {
    display: flex;
    flex-direction: row;
    gap:50px;
}
.secret {
    height: 55px;
    width: 50px;
    background: white;
}

.centerDiv {
    display: grid;
    justify-content: center;
}

/* Display Info */
.length,
.numbers {
    font-size: 30px;
}

label, 
h1 {
    color: white;
}