body {
    background: #eaac8b;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.gridContainer {
    display: grid;
    height: 90vh;
    place-content: center;
}

.hidden {
    background-color: red;
    display: none;
}

.letterImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.letter {
    display: flex;
    align-items: center;
    height: 350px;
    width: 500px;
    border-radius: 20px;
    background-color: #e56b6f;
    border: 10px dashed black;
}

.letter p {
    padding: 20px;
}
