@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Rubik+Doodle+Triangles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background: #eaac8b;
}

.grid {
  position: relative;
  top: -100px;
  display: grid;
  grid-gap: 40px;
  place-content: center;
}

.card {
  display: flex;
  height: 100px;
  width: 225px;
  background: #e56b6f;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50px;
  color: white;
  position: relative;
  top: 200px;
}

.esteban {
  font-family: "Orbitron", sans-serif;
}

.alejandra {
  font-family: "Montserrat", sans-serif;
}

.francisca {
  font-family: "Rubik Doodle Shadow", sans-serif;
}

.lucas {
  font-family: "Rubik Doodle Triangles";
}

a {
  color: white;
}
