* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 40px auto 40px;
    height: 100%;
}


nav {
    display: flex;
    background: orange;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul a{
    text-decoration: none;
    margin: 20px;
}

aside {
    background: blue;
    grid-column: 1/2;
    grid-row: 1/4;
}

main {
    background: lightblue;
    grid-row: 2/3;
}

footer {
    background: red;
    grid-column: 2/3;
}

.text {
    margin: 50px;
}

aside ul a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.asideContent {
    display: grid;
    place-items: center;
    height: 100vh;
}

button {
    background-color: red;
}

ul a:hover,
button:hover {
    background: rgba(0,0,0,.4);
    height: 100px;
    width: 200px;
}