

body {
    background: red;
}

.container {
    display: grid;
    height: 100vh;
    place-content: center;
}

.content {
    color: white;
}

.content input[type="number"] {
    text-align: center;
    height: 40px;
    width: 190px;
    font-size: 30px;
}



header {
    display: grid;

}


