
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 40px 500px auto;
    grid-template-columns: 300px 500px 300px auto;
    height: 100%;
}

aside {
    background: red;
    grid-row: 1/4;
}

h1 {
    margin: 10px 0 20px 40px;
    color: black;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 10px;
    margin: 0 0 40px 40px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

nav {
    grid-row: 1/2;
    margin: 10px 0 20px 40px;

}

img {
    height: 20px;
    width: 20px;
}

input {
    width: 500px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background: #eee;
}

.topBar {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.topBar p {
    margin-left: 115px;
}

.topBar img {
    position: relative;
    left: 120px;
}

.bottomBar {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.bottomBar small {
    margin-left: 10px;
}

.bottomBar img {
    height: 50px;
    width: 50px;
}

h4 {
    margin-left: 150px;
}


.bottomFlex {
    display: flex;
    flex-direction: column;
}

.bottomFlex h3 {
    margin-left: 10px;
}

.rowBtns {
    position: absolute;
    gap: 20px;
    display: flex;
    flex-direction: row;
    right: 100px;
}

button {
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border: none;
    background: #eee;
}

main {
    grid-row: 2/4;
    grid-column: 2/5;
    margin-top: 100px;
    background: #eee;
}

main p {
    margin: 20px 0 10px 20px;
}



.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin-left: 20px;
}

.cardContent {
    height: 140px;
    width: 300px;
    background: white;
}


