* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 40px 100px 200px;
    grid-template-rows: 150px 200px auto auto;
}

aside {
    display: grid;
    background: red;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    place-items: left;
}

h1 {
    margin: 15  px;
}


.left {
    display: grid;
    background: blue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    place-items: left;
}
nav {
    grid-row-start: 1;
    background: orange;
}



.content {
    background: purple;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 5;
}

li {
    list-style: none;
    margin: 15px;
}

.aside {
    margin: 15px;
}